/*#region Global-Section*/
html{
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;   
}
a{
    text-decoration: none;
    color: black;
}
/*#endregion*/

/*#region Header-Section*/
header{
    position: relative;
}
#fixed{
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
.faLogo{
    margin-right: 0.2rem;
    color: rgb(13, 13, 100);
}
.faLogo:hover, .instLogo:hover{
    color: black;
    transform: scale(1.1);
}
.instLogo{
    color: rgb(116, 17, 37);
}
#header-contact-button, #header-social-bar{
    margin: 2rem;
}
#header-contact-button{
    border: 2px solid black;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
#header-contact-button{
    animation-name: changeColorBtn;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#header-contact-button:hover{
    background-color: rgba(21, 121, 21, 0.541);
    transform: scale(1.1);
}
header nav{
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2.5rem;
    overflow: hidden;
}
header nav a {
    margin: 1rem;
    font-size: larger;
    padding: 0.5rem;
    border-radius: 25px;
}

header nav a:hover{
    transform: scale(1.1);
    text-decoration-line: underline;
    background-color: rgba(0, 0, 0, 0.034);
}
#img-cover-container{
    width: 100%;
    z-index: 998;
}
#img-cover-container img{
    width: 100%;
    display: block;
}
.btn{
    border: 2px solid black;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
@keyframes changeColorBtn {
    0%   {background: rgba(255, 255, 255, 0);}
    0.25%   {background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(21,121,21,0.5) 5%, rgba(255,255,255,0) 100%);}
    0.5%   {background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(21,121,21,0.5) 10%, rgba(255,255,255,0) 100%);}
    0.75%   {background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(21,121,21,0.5) 15%, rgba(255,255,255,0) 100%);}
    1%   {background: linear-gradient(135deg, rgba(255,255,255,0) 5%, rgba(21,121,21,0.5) 20%, rgba(255,255,255,0) 100%);}
    1.25%   {background: linear-gradient(135deg, rgba(255,255,255,0) 10%, rgba(21,121,21,0.5) 25%, rgba(255,255,255,0) 100%);}
    1.5%   {background: linear-gradient(135deg, rgba(255,255,255,0) 15%, rgba(21,121,21,0.5) 30%, rgba(255,255,255,0) 100%);}
    1.75%   {background: linear-gradient(135deg, rgba(255,255,255,0) 20%, rgba(21,121,21,0.5) 35%, rgba(255,255,255,0) 100%);}
    2%   {background: linear-gradient(135deg, rgba(255,255,255,0) 25%, rgba(21,121,21,0.5) 40%, rgba(255,255,255,0) 100%);}
    2.25%   {background: linear-gradient(135deg, rgba(255,255,255,0) 30%, rgba(21,121,21,0.5) 45%, rgba(255,255,255,0) 100%);}
    2.5%   {background: linear-gradient(135deg, rgba(255,255,255,0) 35%, rgba(21,121,21,0.5) 50%, rgba(255,255,255,0) 100%);}
    2.75%   {background: linear-gradient(135deg, rgba(255,255,255,0) 40%, rgba(21,121,21,0.5) 55%, rgba(255,255,255,0) 100%);}
    3%   {background: linear-gradient(135deg, rgba(255,255,255,0) 45%, rgba(21,121,21,0.5) 60%, rgba(255,255,255,0) 100%);}
    3.25%   {background: linear-gradient(135deg, rgba(255,255,255,0) 50%, rgba(21,121,21,0.5) 65%, rgba(255,255,255,0) 100%);}
    3.5%   {background: linear-gradient(135deg, rgba(255,255,255,0) 55%, rgba(21,121,21,0.5) 70%, rgba(255,255,255,0) 100%);}
    3.75%   {background: linear-gradient(135deg, rgba(255,255,255,0) 60%, rgba(21,121,21,0.5) 75%, rgba(255,255,255,0) 100%);}
    4%   {background: linear-gradient(135deg, rgba(255,255,255,0) 65%, rgba(21,121,21,0.5) 80%, rgba(255,255,255,0) 100%);}
    4.25%   {background: linear-gradient(135deg, rgba(255,255,255,0) 70%, rgba(21,121,21,0.5) 85%, rgba(255,255,255,0) 100%);}
    4.5%   {background: linear-gradient(135deg, rgba(255,255,255,0) 85%, rgba(21,121,21,0.5) 90%, rgba(255,255,255,0) 100%);}
    4.75%   {background: linear-gradient(135deg, rgba(255,255,255,0) 80%, rgba(21,121,21,0.5) 95%, rgba(255,255,255,0) 100%);}
    5%   {background: linear-gradient(135deg, rgba(255,255,255,0) 90%, rgba(21,121,21,0.5) 100%, rgba(255,255,255,0) 100%);}
    6%   {background: rgba(255, 255, 255, 0);}
    100%   {background: rgba(255, 255, 255, 0);}
  }
@media (max-width:700px) {
    #header-contact-button, #header-social-bar{
        margin: 1rem;
    }
    header nav{
        display: none;
    }
    #header-contact-button{
        margin: 1rem;
        padding: 0.2rem 0.5rem;
    }
}
/*#endregion*/

main{
    display: grid;
    gap: 3rem;
}

.swipeIn{
    transform: translateX(-2000px);
    transition-property: transform;
    transition-duration: 1s;
    
}
.swipeTransition{
    transform: translateX(0px);
}

/*#region Mobile-Nav*/
#mobile-nav{
    background-color: rgba(0, 0, 0, 0.904);
    display: none;
}
@media (max-width:700px) {
    #mobile-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #mobile-nav p{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        min-height: 3rem;
        font-size: larger;
    }
    #mobile-nav div{
        display: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.904);
    }
    #mobile-nav a{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        min-height: 3rem;
        font-size: large;
    }
    #mobile-nav:hover div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3rem;
    }
    #mobile-nav a:hover{
        background-color: rgba(255, 255, 255, 0.425);
    }
}
/*#endregion*/

/*#region Contact&About-section*/
#contact-section{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    overflow: hidden;
}
#ContactH2{
    grid-area: 1 / 1 / 1 / 4;
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;
    align-items: center;
}
#AboutH2{
    grid-area: 1 / 4 / 1 / 6;
    padding-left: 1rem;
    width: 100%;
    margin-left: auto;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
}
#AboutH2::after{
    content: '';
    display: inline-block;
    width: 50%;
    margin-left: 1rem;
    height: 3px;
    background-color: black;
}
#ContactH2::after{
    content: '';
    display: inline-block;
    width: 60%;
    margin-left: 1rem;
    height: 3px;
    background-color: black;
}
#form{
    grid-area: 2 / 1 / 2 / 4;
    width: 100%;
    border-right: 3px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto 1fr;
    gap: 8px;
    z-index: 998;
    position: relative;
    margin-left: 8px;
}

#formOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.596);
    z-index: -2;
}

#form figure{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -3;
}
#form figure img{
    width: 99%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: -3;
}
#nameDiv{
    grid-area: 2 / 1 / 3 / 3;
}
#nameDiv input{
    padding: 0.25rem 1rem;
    border: 1px solid black;
    opacity: 0.6;
}
#nameDiv input:focus{
    opacity: 0.9;
}

#mailDiv{
    grid-area: 3 / 1 / 4 / 2;
}
#mailDiv input{
    padding: 0.25rem 1rem;
    border: 1px solid black;
    opacity: 0.6;
}
#mailDiv input:focus{
    opacity: 0.9;
}
#phoneDiv{
    grid-area: 3 / 2 / 4 / 3;
}
#phoneDiv input{
    padding: 0.25rem 1rem;
    border: 1px solid black;
    opacity: 0.6;
}
#phoneDiv input:focus{
    opacity: 0.9;
}
#descDiv{
    grid-area: 4 / 1 / 5 / 3;
}
#descDiv textarea{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    opacity: 0.6;
}
#descDiv textarea:focus{
    opacity: 0.9;
}
#submitDiv{
    grid-area: 5 / 1 / 6 / 3;
}
#submitDiv input{
    border: 1px solid black;
    padding: 0.5rem;
}
#contactinfo{
    grid-area: 2 / 4 / 2 / 6;
    width: 100%;
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactinfo h3{
    margin-top: 3rem;
}
@media (max-width: 700px) {
    #ContactH2{
        grid-area: 1 / 1 / 2 / 5;
    }
    #form{
        grid-area: 2 / 1 / 3 / 6;
        border-right: none;
        margin-left: 0;
    }
    #form figure img{
        width: 100%;
    }
    #AboutH2{
        grid-area: 3 / 1 / 4 / 5;
        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    #contactinfo{
        grid-area: 4 / 1 / 5 / 6;
    }
    #contactinfo h3{
        margin-top: 1.5rem;
    }
    #contactinfo h5{
        margin-bottom: 1rem;
    }
}
/*#endregion*/

/*#region Collage-Section*/
#collage-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    overflow: hidden;
    justify-content: center;
}
#collage-section h2{
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        overflow: hidden;
}
#collage-section h2::after{
    content: '';
    display: inline-block;
    width: 1000px;
    margin-left: 1rem;
    height: 3px;
    background-color: black;
}
.collage-column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
} 
.collage-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media (max-width:700px) {
    #collage-section{
        justify-content: center;
        align-items: center;
    }
    .collage-column {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
}
/*#endregion*/

/*#region Services-Section*/
#services-section{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#services-section h2{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;
    align-items: center;
}
#services-section h2::after{
    content: '';
    display: inline-block;
    width: 2000px;
    margin-left: 1rem;
    height: 3px;
    background-color: black;
}
#services-section > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.btn{
    border: 2px solid black;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
#services-section > div > article{
    flex: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
}
#services-section > div > article > *{
    padding: 0.5rem;
}
#services-section div article:hover{
    background-color: rgba(0, 0, 0, 0.034);
    cursor: pointer;
}
#services-section div article:hover .btn{
    background-color: rgba(0, 0, 0, 0.103);
}
@media (max-width:700px) {
    #services-section div article{
        flex: 100%;
        max-width: 100%;
        min-height: 25vh;
    }
}
/*#endregion*/

/*#region Footer*/
footer{
    max-height: 200px;
    margin-top: 3rem;
    background-color: rgba(181,181,181,255);
    display: flex;
    align-items: center;
}
footer figure{
    margin: 20px 20px;
    max-width: 180px;
    max-height: 180px;
}
footer figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
footer article{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
footer article i{
    display: block;
    align-self: flex-end;
    font-size: x-small;
    justify-self: flex-end;
    margin-top: 1rem;
}
footer article i a{
    color: royalblue;
}
@media (max-width:700px){
    footer{
        margin-top: 2rem;
    }
    footer figure{
        max-width: 30%;
        margin: 8px 8px;
    }
    footer article i{
        font-size: xx-small;
    }
    footer article h3 {
        font-size:medium;
    }
    footer article h4 {
        font-size:small;
    }
    footer article h5 {
        font-size:smaller;
    }
}
/*#endregion*/
